ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #333;
	z-index: 2;
}
			
ul.header li {
	float: left;
	border-right: 1px solid #bbb;
}
			
ul.header li:last-child {
	border-right: none;
}
			
ul.header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
			
ul.header li a:hover:not(.active) {
	background-color: #111;
}
			
ul.header li a.active {
	background-color: #4CAF50;
}
